In [ ]:
li = [3, 6, 2, 7]
[elem*2 for elem in li]

In [ ]:
li = [('a', 1), ('b', 2), ('c', 7)]
[ n * 3 for (x, n) in li]

In [ ]:
li = [3, 6, 2, 7, 1, 9]
[elem * 2 for elem in li if elem > 4]

In [ ]:
li = [3, 2, 4, 1]
[elem*2 for elem in

[item+1 for item in li] ]